// For modern browsers, just add the CSS3 :target selector to the page
// taken from: https://www.itsupportguides.com/knowledge-base/tech-tips-tricks/how-to-offset-anchor-tag-link-using-css/

$headerOffSet: 170px;

:target:before {
    content: "";
    display: block;
    height: $headerOffSet;      // fixed header height
    margin: -$headerOffSet 0 0; // negative fixed header height
}
